<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        form{text-align: center}
        body{background-image:url({{ url_for('static', filename='NYC.jpg')}});
            background-repeat: no-repeat;
            background-size: 100%;}
    </style>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1 style="text-align:center;">Welcome to your New York City guide!</h1>
<form method="POST">
    <label for="borough">Choose your borough:</label>
    <select name="boroughs" id="borough" required>
        <option style="display:none"></option>
        <option value="Bronx">Bronx</option>
        <option value="Brooklyn">Brooklyn</option>
        <option value="Manhattan">Manhattan</option>
        <option value="Queens">Queens</option>
        <option value="Staten Island">Staten Island</option>
    </select> <br>
    <br>
    <input type="submit" ; value="Continue">
    <br><br>
    <div style="width: 50%; float:left;">
    <label for="centrality_algorithm">Choose a centrality algorithm:</label>
    <select name="centrality_algorithm" id="centrality_algorithm">
        <option value="pageRank">Page Rank</option>
        <option value="articleRank">Article Rank</option>
        <option value="eigenvector">Eigenvector Centrality</option>
        <option value="betweenness">Betweenness Centrality</option>
        <option value="degree">Degree Centrality</option>
    </select>
    <input type="submit" value="Use selected centrality algorithm" formaction="/centrality">
    <br>
    <h2>OR</h2>
    <label for="community_detection_algorithm">Choose a community detection algorithm:</label>
    <select name="community_detection_algorithm" id="community_detection_algorithm">
        <option value="louvain,communityId">Louvain</option>
        <option value="labelPropagation,communityId">Label Propagation</option>
        <option value="wcc,componentId">Weakly Connected Components</option>
        <option value="triangleCount,triangleCount">Triangle Count</option>
        <option value="localClusteringCoefficient,localClusteringCoefficient">Local Clustering Coefficient</option>
    </select>
    <input type="submit" value="Use selected community detection algorithm" formaction="/community_detection">
    <br><br>
    </div>
    <div style="width: 50%; float:left;">
    <input type="submit" value="Find Similar Stores" formaction="/similarity">
    <br>
    <h2>OR</h2>
</form>
<form method="post">
    Search for your favorite store:
    <input type="text" name="storeName" id="storeName" required>
    <input type="submit" value="Search" formaction="/search">
</form>
</div>
</body>
</html>